SharedLib/Schemas/Lines.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">
   <xs:element name="Lines" type="ProcessLinesType"></xs:element>
   <xs:complexType name="ProcessLinesType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Line" type="xs:string" />
      </xs:sequence>
   </xs:complexType>

</xs:schema>
